# Ignore Mac OS system files
.DS_Store

# Ignore Vagrant files
.vagrant

# Ignore the document root. Various roles install files there.
#/docroot

# Ignore the document root. Various roles install files there.
/docroot/sites/default/files


# Ignore mkdocs build built docs artifacts
documentation/site

# Ignore NodeJS modules files
node_modules

# Ignore npm-debug.log
npm-debug.log

# Ignore Composer vendor directory if needed
#vendor
#!docroot/vendor

# Ignore docroot if your project uses a different hosted document root path
# docroot
docroot/drupal/sites/default/files
