# Ignore Mac OS system files
.DS_Store

# Ignore Vagrant files
.vagrant

# Ignore opcache web viewer
opcache.php

# Ignore memcache web viewer
memcached.php

# Ignore mkdocs build built docs artifacts
documentation/site

# Ignore NodeJS modules files
node_modules

# Ignore npm-debug.log
npm-debug.log

# Ignore Composer vendor directory if needed
vendor
!docroot/vendor
