# After making changes to this file, restart apache.

# To run Xdebug from the host, set remote_connect_back to 1. Then remote_host
# will be ignored.
# To run Xdebug from the guest (VM), set remote_connect_back to 0. Either set
# remote_host to 127.0.0.1 or localhost or leave it unset.

xdebug.remote_connect_back={{ php_xdebug_remote_connect_back }}
# xdebug.remote_host={{ php_xdebug_remote_host }}

# To run Xdebug without setting XDEBUG_SESSION_START (GET or POST parameter) or
# XDEBUG_SESSION cookie, set remote_autostart to 1.
# xdebug.remote_autostart=1

zend_extension=xdebug.so
xdebug.remote_enable={{ php_xdebug_remote_enable }}
xdebug.remote_port={{ php_xdebug_remote_port }}
xdebug.remote_handler=dbgp
xdebug.remote_log={{ php_xdebug_remote_log }}
xdebug.profiler_enable_trigger={{ php_xdebug_profiler_enable_trigger }}
xdebug.profiler_output_dir={{ php_xdebug_profiler_output_dir }}
xdebug.idekey={{ php_xdebug_idekey }}
xdebug.max_nesting_level={{ php_xdebug_max_nesting_level }}
