CREATE DATABASE IF NOT EXISTS `{{ project_name }}`;
GRANT ALL PRIVILEGES ON `{{ project_name }}`.* TO 'vagrant'@'localhost' IDENTIFIED BY 'vagrant';
FLUSH PRIVILEGES;

# If you're importing an existing DB, add your CREATE statements here
